@font-face {
    font-family: 'Ballpark';
    src: url('BallparkWeiner.woff2') format('woff2'),
        url('BallparkWeiner.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ballpark';
    src: url('BallparkWeiner.woff2') format('woff2'),
        url('BallparkWeiner.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BallparkWeiner';
    src: url('BallparkWeiner.woff2') format('woff2'),
        url('BallparkWeiner.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

